---
import Layout from "../layouts/Layout.astro";
import TechStack from "@components/TechStack.astro";
import AboutMe from "@components/AboutMe.astro";
import ProjectContainer from "@components/ProjectContainer.astro";
import RichPressence from "@components/RichPressence.astro";
import SeparatorLine from "@components/SeparatorLine.astro";
import ProfilePicture from "@components/ProfilePicture.astro";
import { Steam, Github } from "@components/Icons";
---

<Layout title="Fabricio F.">
  <div class="flex flex-col justify-between w-full">
    <section>
      <ProjectContainer />
    </section>
    <section
      class="mt-8 lg:mt-0 flex flex-col lg:flex-row lg:justify-between items-center gap-5"
    >
      <div class="flex items-center">
        <ProfilePicture />
        <RichPressence />
      </div>
      <ul class="flex gap-5">
        <li class="transition-all active:translate-y-1 hover:-translate-y-1">
          <a
            href="https://steamcommunity.com/profiles/76561198206542747"
            aria-label="Steam"
            target="_blank"
          >
            <Steam />
          </a>
        </li>
        <li class="transition-all active:translate-y-1 hover:-translate-y-1">
          <a
            href="https://github.com/Belseir"
            aria-label="Github"
            target="_blank"
          >
            <Github />
          </a>
        </li>
      </ul>
    </section>
  </div>
  <section class="flex flex-col justify-center w-full lg:w-2/4">
    <SeparatorLine />
    <AboutMe />
    <TechStack />
  </section>
</Layout>
