---
import Layout from "../layouts/Layout.astro";
import TechStack from "@components/TechStack.astro";
import AboutMe from "@components/AboutMe.astro";
import ProjectContainer from "@components/ProjectContainer.astro";
import RichPressence from "@components/RichPressence.astro";
import SeparatorLine from "@components/SeparatorLine.astro";
import ProfilePicture from "@components/ProfilePicture.astro";
import Socials from "@components/Socials.astro";
---

<Layout title="Fabricio F.">
  <div class="flex flex-col justify-between w-full">
    <section>
      <ProjectContainer />
    </section>
    <section
      class="mt-8 lg:mt-0 flex flex-col lg:flex-row lg:justify-between items-center gap-5"
    >
      <div class="flex items-center">
        <ProfilePicture />
        <RichPressence />
      </div>
      <Socials />
    </section>
  </div>
  <section class="flex flex-col justify-center w-full lg:w-2/4">
    <SeparatorLine />
    <AboutMe />
    <TechStack />
  </section>
</Layout>
