<section>
  <header>
    <h1 class="font-bold text-4xl">Fabricio F.</h1>
    <div class="flex flex-row justify-between">
      <p class="font-medium">19 yo.</p>
      <p class="flag">🇦🇷</p>
      <p class="font-semibold">Español & English</p>
    </div>
  </header>
  <p class="mt-5 lg:mt-10 font-light text-lg lg:text-xl text-[#B6B6B6]">
    Computer Science student at UNQ (Universidad Nacional de Quilmes)
  </p>
</section>

<style>
  @font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }

  .flag {
    font-family:
      "NotoColorEmojiLimited",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
</style>
