<div id="kroniicopter" class="absolute top-0 z-20 opacity-0 w-full h-full">
  <div
    id="kroniicopter-ring"
    class="shadow-sm absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[70px] z-20 h-[70px] rounded-full border-4 border-[#CFCFCF]"
  >
  </div>
  <div
    id="kroniicopter-seconds"
    class="absolute h-[1px] w-[1px] left-1/2 top-1/2"
  >
    <svg
      class="top-1/2 -translate-y-full relative left-1/2 -translate-x-1/2"
      width="2"
      height="89"
      viewBox="0 0 2 89"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 88L1 1"
        stroke="url(#paint0_linear_1208_678)"
        stroke-width="2"
        stroke-linecap="square"></path>
      <defs>
        <linearGradient
          id="paint0_linear_1208_678"
          x1="1.59929e+11"
          y1="-7023.92"
          x2="1.59929e+11"
          y2="-6902.72"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#D4AF37"></stop>
          <stop offset="1" stop-color="#A28834"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div
    id="kroniicopter-minutes"
    class="absolute h-[1px] w-[1px] left-1/2 top-1/2"
  >
    <svg
      class="top-1/2 -translate-y-full relative left-1/2 -translate-x-1/2"
      width="8"
      height="82"
      viewBox="0 0 8 82"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 81V7.5M4 81V1M7 81V15"
        stroke="url(#paint0_linear_1208_686)"
        stroke-width="2"
        stroke-linecap="square"></path>
      <defs>
        <linearGradient
          id="paint0_linear_1208_686"
          x1="4.5"
          y1="-20"
          x2="4.5"
          y2="81"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#CFCFCF"></stop>
          <stop offset="1" stop-color="#888888"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div
    id="kroniicopter-hours"
    class="absolute h-[1px] w-[1px] left-1/2 top-1/2"
  >
    <svg
      class="top-1/2 -translate-y-full relative left-1/2 -translate-x-1/2"
      width="14"
      height="62"
      viewBox="0 0 14 62"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 61L1 14.5M7 61L7 1M13 61L13 20.5M10 61L10 11M4 61L4 6"
        stroke="url(#paint0_linear_1208_691)"
        stroke-width="2"
        stroke-linecap="square"></path>
      <defs>
        <linearGradient
          id="paint0_linear_1208_691"
          x1="7.5"
          y1="-40"
          x2="7.5"
          y2="61.0001"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#CFCFCF"></stop>
          <stop offset="1" stop-color="#888888"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>

<script>
  const r = document.querySelector(":root") as HTMLElement;

  const numberToDegree = (toConvert: number, proportion: number): number => {
    return (360 * toConvert) / proportion;
  };

  setInterval(() => {
    const date = new Date();

    const hours = date.getHours();
    const minutes = date.getMinutes();
    const seconds = date.getSeconds();

    r.style.setProperty("--secRotation", `${numberToDegree(seconds, 60)}deg`);
    r.style.setProperty("--minRotation", `${numberToDegree(minutes, 60)}deg`);
    r.style.setProperty("--hoursRotation", `${numberToDegree(hours, 12)}deg`);
  }, 1000);
</script>

<style>
  #kroniicopter-hours,
  #kroniicopter-minutes,
  #kroniicopter-seconds {
    transition: all 1s ease;
  }

  #kroniicopter-seconds {
    transform: rotate(var(--secRotation));
  }
  #kroniicopter-hours {
    transform: rotate(var(--hoursRotation));
  }
  #kroniicopter-minutes {
    transform: rotate(var(--minRotation));
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
</style>
