---
import Kroniicopter from "@components/Kroniicopter.astro";
---

<div id="profile-picture" class="relative -mr-4">
  <img
    src="/assets/image.webp"
    alt="Ouro Kronii Picture"
    height="72"
    width="72"
    class="rounded-full z-30 relative drop-shadow-lg"
  />
  <Kroniicopter />
</div>

<style>
  img {
    transition: all 1s ease-in-out;
  }
</style>

<style is:global>
  #profile-picture:hover > img {
    transform: scale(125%);
  }
  #profile-picture:hover > #kroniicopter {
    animation: fade-in 2.5s forwards;
    transition: all 1s ease-in-out;
    transform: scale(175%);
  }
</style>
